*{
    box-sizing:border-box;
    margin:0;
    padding:4px;
}



.header {
  background-color: #004175;
  color: white;
  padding: 20px;
  border-bottom: solid;
  border-color: #89deef;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 25px;

  height: 70px;
  width: 100%;
}

.title {
    margin: 13px;
    font-family: "Open Sans";
}

.link{
    margin: 13px;
    font-family: "Open Sans";
}




.dogs {
    /* position: absolute; */
    margin:0 0;
    width:1000px;
    height:500px;
    /* confusing: 300x3= 900??? */
    /* background-color: blue;  */
    /* testing change latter */
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: space-evenly;
}

.dogs>img{
    width: 100%;
}

.dogs-img img{
    width: 330px;
    height: auto;
}

.card {
    margin: 0px;
    width: 330px;
    height: 300px;
    display: flex;
    /* background-color: red;  */
    /* testing change latter */

    flex-direction:column; 
    line-height: 0px;
    /* what is the line heigt?  */
    justify-content:space-envenly;
  }

.tags>ul{
    /* why this work? */
    width:320px;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-envenly;
    align-content: center;
}

.name{
    font-family: "Open Sans";
    font-weight:bold;

}


.tags>ul>li{
    padding: 7px;
    margin: 5px;
    list-style: none;
    background-color: #89deef;
    border-color: #89deef;
    border-radius: 15px;
    border-style: solid;
    text-align: center;
    font-family: "Open Sans";
    font-size: 12px;
}


.bottom{
    width:1000px;
    height:300px;
    display: flex;
    /* background-color:violet; */

}



.Donate{

    display: flex;
    justify-content:center;
    align-items: center;
    align-content:center;

    font-family: "Open Sans";
    font-weight:bold;
    font-size: 30px;
    color: white;

    width:350px;
    height:235px;

    background: linear-gradient(
        rgba(166, 169, 240, 0.6),
        rgba(166, 169, 240, 0.6)
      ),
     url("starter_files/images/donate.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

}

.Volunteer{
    display: flex;
    justify-content:center;
    align-items: center;
    align-content:center;

    font-family: "Open Sans";
    font-weight:bold;
    font-size: 30px;
    color: white;

    width:350px;
    height:235px;

    background: linear-gradient(
        rgba(166, 169, 240, 0.6),
        rgba(166, 169, 240, 0.6)
      ),
      url("starter_files/images/volunteer.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

}

.Location{
    display: flex;
    justify-content:center;
    align-items: center;
    align-content:center;

    font-family: "Open Sans";
    font-weight:bold;
    font-size: 30px;
    color: white;

    width:350px;
    height:235px;

    background: linear-gradient(
        rgba(166, 169, 240, 0.6),
        rgba(166, 169, 240, 0.6)
      ),
      url("starter_files/images/location.png");

    background-repeat: no-repeat;
    background-size: 100%;

}
